doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "SRE Workbench"
    link(rel='stylesheet' href=cssURL)
    link(rel='stylesheet', href="assets/css/fontawesome-free-5.10.1-web/css/all.min.css")
  body
    #root.
      Loading...
    #dialog-layer
    #popover-layer
    script.
      window.__LINKS__ = !{JSON.stringify(links)};
      window.__SESSION__ = !{JSON.stringify(user)};
      window.__SERVER_PATH__ = !{JSON.stringify(serverPath)};
      localStorage.setItem('discourse.auth', JSON.stringify({
        apiKey: '749cca49b23ac634b5f3fe1ed4636b7fa49f950de4dc707763e511092018d0bc',
      }));
      localStorage.setItem('jupyter.auth', JSON.stringify({
      email: !{JSON.stringify(user.email || '')},
      }));
    script(crossorigin, src=jsURL)
